<!--
I scream, you scream, we all scream for source code.
-->
<!--
Based on the Google IO 2012/2013 HTML5 Slide Template
Heavily modified to support better custom themes using pure
compass. And gulp. Always with the gulps.

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahé <lukem@google.com>
         Jakob Heuser <jheuser@linkedin.com>
-->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="css/main.css" data-noprefix>
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/phone.css" data-noprefix>
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

  <slide class="title-slide segue nobackground">
    <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
    <hgroup class="auto-fadein">
      <h1 data-config-title><!-- populated from slide_config.json --></h1>
      <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
      <p data-config-presenter><!-- populated from slide_config.json --></p>
    </hgroup>
  </slide>

  <%= examples %>

  <slide class="thank-you-slide segue nobackground">
    <article class="flexbox vleft auto-fadein">
      <h2>END</h2>
    </article>
    <p class="auto-fadein" data-config-contact>
      <!-- populated from slide_config.json -->
    </p>
  </slide>

  <!-- this is replaced with citations -->
  <slide data-attributions></slide>

  <slide class="backdrop"></slide>

</slides>

<script src="js/bundle.js" data-manual></script>
<!-- Try a chrome frame on antiquated IE lt 9 (10 doesn't have conditional comments) -->
<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
